$breakpoints:(
    xxxs:376px,
    xxs: 480px,
    xs: 582px,   // 再小星星會推到ps.576超小裝置 (手機)
    sm: 845px,   // 再小會讓首頁按鈕超出去->改並列(接近平板直立)
    md: 1045px,  // 首頁按鈕需要內縮
    lg: 1200px,  // 大裝置 (筆電)
    xl: 1400px   // 超大裝置 (桌機)
);

// 淺層函式：用來產生媒體查詢
@mixin respond-to($size){
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
      }
}
