@use "sass:map";
@use "./variables" as *;
@use "./animations" as *;

@mixin btn-style($bg-color, $hover-bg-color) {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 160px;
    opacity: 1;
    background-color: $bg-color;
    border: 2px solid map.get($color, black);

    &:hover {
        // animation: rotate 0.7s ease-in-out both;
        background-color: $hover-bg-color;

        // span {
        //     animation: storm 0.7s ease-in-out both;
        //     animation-delay: 0.06s;
        // }
    }

    span {
        color: map.get($color, black);
        font-size: 14px;
        font-weight: map-get($font-weight , normal);
        letter-spacing: 2px;
    }

}

// 按鈕效果->點擊會晃動
.active {
    animation: rotate 0.7s ease-in-out both;
    transition: all 1.5s linear;
    span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
    }
}



// 只留在圖片左邊的手
.handOnleft {
    .handOnRight-img {
        // 在圖片右邊的手消失
        display: none;
    }
    img {
        animation: moveLeftAndRight 1.2s ease-in-out infinite;
    }
}

// 只留在圖片右邊的手
.handOnRight {
    // 在圖片左邊的手消失
    .handOnleft-img {
        display: none;
    }
    img {
        animation: moveRightAndLeft 1.2s ease-in-out infinite;
    }
}
//無手版
.nohands{
    .handOnleft-img {
        display: none;
    }
    .handOnRight-img {
        display: none;
    }
}