@use "sass:map";
@use "./variables" as *;

%flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  @extend %flex-column-center;
}

%flex-column-left {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

%column-down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

%column-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

%letter-spacing {
  letter-spacing: 2px;
}

%text-outline-stroke {
  // -webkit-text-stroke: 0.5px map-get($color , black);
  // text-stroke: 0.5px map-get($color , black);
  text-shadow:
  -1px -1px 0 map-get($color , black),  
     1px -1px 0 map-get($color , black),  
    -1px  1px 0 map-get($color , black),  
     1px  1px 0 map-get($color , black); /* 四個方向的黑色陰影 */
    }
