@use "sass:map";
@use "./variables" as *;
@mixin title-style($text-color){
    color: $text-color;
    font-weight: map-get($font-weight , blod);
    font-size: map-get($font-size, title-m);
    letter-spacing: 0.2rem;  
}

@mixin bg-color($bg-color,$bg-img){
    background-color: $bg-color;
    position: relative; // 讓偽元素參考這個區塊定位
    
    &::after {
      content: "";
      position: absolute; // 讓它能覆蓋父元素
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block; // 讓偽元素佔滿區域
      background-image: url($bg-img);
      background-repeat: repeat;
      z-index: -1; // 讓背景圖片疊在顏色之下
    }
}