@use "sass:map";
@use "./variables" as *;
@mixin title-style($text-color){
    color: $text-color;
    font-weight: map-get($font-weight , blod);
    font-size: map-get($font-size, title-m);
    letter-spacing: 0.2rem;
    
}