@use "sass:map";

$color:(
    black:#252526,
    white:#F5F5F5,
    yellow:#EFE2C0,
    deepYellow:#E6A649,
    orange:#F07145,
    ttiffany:#66BAB7,
    pick:#FFDBCF,
    perple:#A0A3C9,
    green:#C7CD9D,
    
    deepYellow-hover:#F07145,
    ttiffany-hover:#A0A3C9,
    pick-hover:#F5F5F5,
    orange-hover:#E6A649,
    green-hover:#E6A649,
);

$interval: (
    // 間距
    s:8px,
    m:20px,
    l:32px,
    xl:64px
);


$font-size: (
    title-m:20px,
    title-l:32px,
    title-xl:64px,

    btn-txt-m:16px,
    btn-txt-l:24px,

    content-m:16px,
    content-l:24px,
    content-xl:32px,
    
    //1rem約16px
    //1.25rem約20px
    //1.5rem約24px
    //2rem約32px
    //4rem約64px
);
$font-weight:(
    normal:700,
    blod:800
)