@use "sass:map";
@use "./reset" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use"./extend.scss" as *;
@use"./animations.scss" as *;
@use"./breakpoint" as *;

@use "./buttons" as *;
@use "./component" as *;



section {
  display: grid;
  height: 100vh;
  /* 確保高度充足 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

/* 左側裝飾區 */
.left-area {
  background-color: map.get($color, deepYellow);
  grid-row: span 3 / span 3;
}

/* 右側裝飾區 */
.right-area {
  background-color: map.get($color, deepYellow);
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 1;
}

.main-area-hander {
  // 統一貼地
  width: 600px;
  padding:0 map.get($interval, m);
  @extend %column-down;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: antiquewhite;
}

.main-area-content {
  width: 600px;
  @extend %flex-column-left;
  position: relative;
  grid-column-start: 2;
}

.main-area-footer {
  width: 600px;
  grid-column-start: 2;
  grid-row-start: 3;
  background-color:aqua
}

@include respond-to(sm) {

  /* 手機板 */
  .left-area,
  .right-area,
  .main-area-footer {
    display: none;
  }

  section {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 8px;
  }
  .main-area-hander {
    width: 400px;
    padding: 0 map.get($interval, l);
  // 標題左右對齊.dialog.againBtn
  }
  .main-area-content {
    width: 400px;
    padding:map.get($interval, m);
  }
}