@use "sass:map";
@use "./reset" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use"./extend.scss" as *;
@use"./animations.scss" as *;
@use"./breakpoint" as *;

@use "./buttons" as *;
@use "./component" as *;



section {
  display: grid;
  height: 100vh;
  /* 確保高度充足 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* 左側裝飾區 */
.left-area {
  background-color: map.get($color, deepYellow);
  grid-row: span 3 / span 3;
}

/* 右側裝飾區 */
.right-area {
  background-color: map.get($color, deepYellow);
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 1;
}

.main-area-hander {
  // 統一貼地
  width: 600px;
  padding: 0 map.get($interval, m);
  @extend %column-down;
  grid-column-start: 2;
  grid-row-start: 1;
  // background-color: antiquewhite;
}

.main-area-content {
  width: 600px;
  @extend %flex-column-left;
  position: relative;
  grid-column-start: 2;
  // background-color:#ffffff
}

.main-area-footer {
  width: 600px;
  grid-column-start: 2;
  grid-row-start: 3;
  // background-color:aqua
}

@include respond-to(sm) {

  /* 手機板 */
  .left-area,
  .right-area,
  .main-area-footer {
    display: none;
  }

  section {
    grid-template-columns: repeat(1, auto);
    // grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .main-area-hander {
    width: 90vw;
    padding: 0 map.get($interval, xl);
    // 標題左右對齊.dialog.againBtn
  }

  .main-area-content {
    width: 90vw;
    padding: map.get($interval, m) map.get($interval, l);
}
}

// @include respond-to(xs) {
//   .main-area-hander {

//     width: calc(400px - map.get($interval, l));
//     padding: 0 map.get($interval, l);
//   // 標題左右對齊.dialog.againBtn
//   }
//   .main-area-content {
//     width:calc(400px - map.get($interval, l));
//     padding:map.get($interval, m);
//   }
// }